.footer {
  position: absolute;
  bottom: 0px;
  color: #ffff;
  width: 100%;
  padding: 2em;
  text-align: center;
  background-color: #1F0037;
  left: 0px;
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.list li{
  margin: 0 1em;
}

.lista li, a{
  color: #5C0292;
  transition: 0.2s;
}

.lista li, a:hover{
  color: #ffbb33;
}

.lista a, svg {
  font-size: 2em;
  cursor: pointer;
}

.copy_right {
  margin-top: 2em;
}

.copy_right span{
  font-weight: bold;
  color: #5C0292;
}
