.navbar {
  display: flex;
  padding: 1em;
  background-color: #1F0037;
  color: #4A0277;
  align-items: flex-end;
}

.navbar img {
  width:160px;
  
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  color: #4A0277;
}

.iten {
  margin-right: 1em;
  text-decoration: none;
}

.iten a {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}


.iten a:hover {
  color: #ffbb33;
  text-decoration: none;
}
